#Screen_Main{
    position:absolute;
    background-color: rgb(253, 251, 251);
    left: 180px; top: 60px;
    width: 928px; height: 664px ;

}

#copywrite p{

    position:absolute;
    color: rgb(250, 7, 7);
    left: 5px; top: 700px;
    
}

#copywrite p a{

    position:absolute;
    color: rgb(112, 7, 250);
    
    
}

#pos3 {
    position: relative;
    top: 10px;
    left: 100px;
    width: 250px;
    height: 250px;
    border: 1px solid red;
    margin: 5px;
    float: left;
}