#Screen_2{
    position:absolute;
    background-color: #ffffff;
    left: 180px; top: 60px;
    width: 928px; height: 664px ;

}
#Screen_2 p{
    margin: 10px;
    padding: 0;
    list-style: none;
    color: rgb(10, 10, 10);
  }
#Screen_2 img{
    position:absolute;
    left: 240px; top: 40px;
 }  