#Screen_4{
    position:absolute;
    background-color: #ffffff;
    left: 180px; top: 60px;
    width: 928px; height: 664px ;

}
#Screen_4 p{
    margin: 10px;
    padding: 0;
    list-style: none;
    color: rgb(10, 10, 10);
  }